.uncommon-ourteam {
  width: 100%;
  min-height: 100svh;
  position: relative;
  overflow: hidden;

  @media screen and (max-width: 599px) {
    min-height: 66svh;
  }
  
  &:not(.uncommon-ourteam--listview) .uncommon-ourteam-teammember {
    width: 16vw;
    height: 16vw;
    position: absolute;
    z-index: 12;
    top: 0;
    left: 0;
    display: none;

    &.uncommon-ourteam-teammember--animated {
      display: block;
    }

    @media screen and (max-width: 599px) {
      width: 24vw;
      height: 24vw;      
    }
    
    & .uncommon-ourteam-teammember-title,
    & .uncommon-ourteam-teammember-name {
      display: none;
    }
    & .uncommon-ourteam-teammember-images {
      position: relative;
      width: 100%;
      height: 100%;

      & figure {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all .3s ease-in-out;

        
        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &:hover figure {
        transform: rotate(-5deg);
      }
      & figure.uncommon-ourteam-teammember-artwork {
        opacity: 0;
      }
      &:hover figure.uncommon-ourteam-teammember-artwork {
        opacity: 1;
      }
    }  
  }
  &.uncommon-ourteam--listview {
    overflow: visible;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--wp--preset--spacing--outer) 0;

    &:before {
      content: 'Our Team:';
      font-size: var(--wp--preset--font-size--body-l);
      margin-left: var(--wp--preset--spacing--outer);
      margin-bottom: .5em;
    }
  }
  &.uncommon-ourteam--listview .uncommon-ourteam-teammember {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
    top: auto;
    left: auto;
    transform: none;
    display: flex;
    justify-content: space-between;
    margin: 0 var(--wp--preset--spacing--outer);
    padding: .25em 0;
    width: calc(100% - 2 * var(--wp--preset--spacing--outer));
    border-top: 1px solid var(--wp--preset--color--pigment-purple);

    &:hover {
      z-index: 3;
    }

    & .uncommon-ourteam-teammember-title,
    & .uncommon-ourteam-teammember-name {
      display: inline-block;
    }
    & .uncommon-ourteam-teammember-images {
      display: block;
      position: absolute;
      width: 16vw;
      height: 16vw;
      opacity: 0;
      
      & figure {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all .3s ease-in-out;
  
        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      & figure.uncommon-ourteam-teammember-artwork {
        opacity: 0;
        display: none;
      }
    }
    &:hover .uncommon-ourteam-teammember-images {
      opacity: 1;

    }
  }
}
.uncommon-ourteam-title {
  position: absolute;
  z-index: 101;
  top: var(--wp--preset--spacing--outer);
  left: var(--wp--preset--spacing--outer);
  font-size: var(--wp--preset--font-size--h-3);
  margin: 0;
  padding: 0;
  
  .uncommon-ourteam--listview & {
    color: var(--wp--preset--color--pigment-purple);
    display: none;
  }
}
.uncommon-ourteam-switcher {
  position: absolute;
  z-index: 100;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  background-color: var(--wp--preset--color--pigment-purple);
  border-radius: 2em;
  font-size: var(--wp--preset--font-size--body-s);
  padding: 4px;
  cursor: pointer;
  
  & .uncommon-ourteam-switcher-item--explore, 
  &.uncommon-ourteam-switcher--listview  .uncommon-ourteam-switcher-item--list {
    background-color: var(--wp--preset--color--contrast);
    color: var(--wp--preset--color--pigment-purple);
    border-radius: 2em;
    padding: .15em .4em .1em .4em;
  }
  &.uncommon-ourteam-switcher--listview .uncommon-ourteam-switcher-item--explore,
  & .uncommon-ourteam-switcher-item--list {
    background-color: var(--wp--preset--color--pigment-purple);
    color: var(--wp--preset--color--contrast);
    border-radius: 2em;
    padding: .15em .4em .1em .4em;
  }
}